<div class="container">

    <h1>Listings</h1>
    <br>

    <table class="table table-condensed table-hover">
      <tr>
        <th>Poster</th>
        <th>University</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
      </tr>

    <% @listings.each do |listing| %>
      <tr onclick="location.href='<%= listing_path(listing) %>'">
        <td><%= listing.user.user_name %></td>
        <td><%= listing.user.university.name %></td>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= currency_symbol(listing.user.university.country) %> <%= listing.format_price %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Listing', new_listing_path %>
</div>
