<%= simple_form_for(@university) do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% @university.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %><br />
    <%= f.input :city %><br />
    <%= f.input :country, :as => :string %><br />
    <%= f.input :students %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
